* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.nav-list {
	height: 10vh;
	display: flex;
	width: 50%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
	list-style: none;
}

.nav-links {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

section {
	height: 90vh;
	position: absolute;
	width: 100%;
	background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
}

.content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content img {
	height: 70%;
}

.content h1 {
	font-size: 50px;
	margin: 30px 0px;
}

.content p {
	font-size: 20px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}